/* blog */


#blog_container .post{
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
background-color: #ea1616e7;
} 

#blog_container .post .post_image{
    overflow: hidden;
    cursor: pointer;
    box-shadow: rgba(247, 243, 243, 0.19) 0px 10px 20px, rgba(229, 216, 216, 0.23) 0px 6px 6px;
}
#blog_container .post img{
transition: 0.3s ease;
}
#blog_container .post:hover img{
transform: scale(1.3) rotate(-10deg);
opacity: 0.8;
}
#blog_container .post:hover  h6{
    color:  rgba(255, 255, 255, 0.688);
}

.nav-item a:hover{
    color: #fff;
}
#blog_container .post h3{
    transition: 0.3s ease;
    cursor: pointer;
     }
#blog_container .post:hover h3{
   color: #ff6b6b;
    }
.innerText{
    margin-top: 18px;
    color: black;
       }
.innerText h3{
     font-size: 15px;
    
    }
.heading{
    color: #ff6b6b;
}
.mens{
    
    border-radius: 3px;
    margin-right: 10px;
    width: 100px;
    color: #feca57;
    padding: 5px;
}
.innerDateText{
    margin-bottom: 25px;
    margin-top: 20px;
}

    .navMenu{
        border-right: 1px solid #bdc3c7;
    }
    .navMenu:hover{
       background-color: #ff6b6b;
       font-size: 19px;
    }
   
    .logo{
        font-weight: bold;
        padding-right: 5px;
        letter-spacing: 2px;
    }
    .menu{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
        
    }